* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gilroy", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
.main {
  height: 100%;
  width: 100%;

  display: flex;
}
.left {
  width: 40%;
  height: 100%;
  position: relative;
}
.lnav {
  width: 100%;
  display: flex;
  padding: 20px 30px;
  justify-content: space-between;
}
#lnavr {
  display: flex;
}
#lnavr a {
  margin-right: 25px;
  text-decoration: none;
  color: black;
  font-size: 14px;
}
#lnavr i {
  color: royalblue;
}
.textcenter h1 {
  font-size: 90px;
  font-weight: 900;
}
.textcenter p {
  font-size: 12px;
  opacity: 0.6;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.textcenter a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
  opacity: 0.6;
}
.left .textcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.right {
  width: 60%;
  height: 100%;
}
.rtop {
  height: 50%;
  width: 100%;
  display: flex;
}
.rbottom {
  height: 50%;
  width: 100%;
  background-image: url(./image/image-3.jpg);
  background-size: cover;
  background-position: center;
}
.rtopleft {
  height: 100%;
  width: 55%;
  background-image: url(./image/image-1.jpg);
  background-size: cover;
  background-position: center;
}
.rtopright {
  height: 100%;
  width: 45%;
  background-image: url(./image/image-2.jpg);
  background-size: cover;
  background-position: center;
}
@media (max-width: 500px) {
  .main {
    flex-direction: column;
  }
  .main .left {
    width: 100%;
  }
  .main .right {
    width: 100%;
  }
}
