* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #fbf9f7;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.top {
  flex: 0.6;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  font-weight: 500;
  color: black;
  gap: 40px;
}
.logo {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 90px;
}
nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  color: black;
  font-size: 20px;
  letter-spacing: 2px;
}
.active {
  font-weight: bold;
}
.bottom {
  background-color: #aba17e27;
  flex: 1;
}
h1 {
  position: absolute;
  top: 25%;
  left: 5%;
  font-size: 80px;
  font-weight: 100;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
p {
  position: absolute;
  top: 54%;
  left: 6%;
  letter-spacing: 1px;
  line-height: 20px;
}
.btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 65px;
  border: 1px solid black;
  border-radius: 35px;
  top: 74%;
  left: 6%;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  font-family: sans-serif;
  letter-spacing: 0.5px;
}
.image-1 {
  height: 500px;
  width: 400px;
  position: absolute;
  left: 45%;
  top: 20%;
  background-image: url(./image/img-1.avif);
  background-size: cover;
  background-position: center;
}
.image-2 {
  height: 300px;
  width: 310px;
  position: absolute;
  left: 73%;
  top: 22%;
  background-image: url(./image/img-2.avif);
  background-size: cover;
  background-position: center;
}

.image-3 {
  height: 159px;
  width: 280px;
  position: absolute;
  left: 73%;
  top: 67%;
  background-image: url(./image/img-3.avif);
  background-size: cover;
  background-position: center;
}
 @media (max-width: 500px) {
  header {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  nav ul {
    gap: 40px;
  }

  h1 {
    font-size: 45px;
    left: 5%;
    top: 18%;
  }

  p {
    top: 45%;
    font-size: 14px;
    line-height: 18px;
  }

  .btn {
    top: 65%;
    width: 130px;
    height: 50px;
    font-size: 16px;
  }

  .image-1 {
    position: relative;
    width: 90%;
    height: 300px;
    left: 50%;
    transform: translateX(-50%);
    top: 60%;
    margin-top: 30px;
  }

  .image-2,
  .image-3 {
   position: relative;
    width: 90%;
    height: 200px;
    left: 50%;
    transform: translateX(-50%);
    top: 60%;
    margin-top: 30px;
  }
}